@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

/* .home-container::before {
  content: '';
  width: 420px;
  height: 420px;
  background: rgb(238,74,65);
  background: radial-gradient(circle, rgba(238,74,65,0.5) 0%, rgba(13,13,13,0) 100%);
  filter: blur(80px);
  border-radius: 100%;
  position: absolute;
  top: -120px;
  overflow: hidden;
  z-index: -1;
}

@media only screen and (min-width: 1280px) {
  .home-container::before {
    width: 620px;
    height: 620px;
    top: -320px;
  }
}

@media only screen and (min-width: 1920px) {
  .home-container::before {
    width: 1060px;
    height: 1060px;
    top: -560px;
  }
} */
